* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 10px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.addressBook-text {
  text-align: left;
  font: normal normal bold 22px/25px Montserrat;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  color: #008cff;
}

.addressBook-book {
  color: #42515f;
}

.form-content {
  min-height: calc(100% - 80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.form {
  background: #ffffff 0% 0% no-repeat padding-box;
  min-width: 1067px;
  margin: 2%;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  opacity: 1;
}

.form-head {
  display: flex;
  background: #008cff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
  padding: 30px;
}

.form-head-text {
  flex: 6;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font: normal normal normal 28px/37px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.row-content {
  margin: auto;
  min-width: 80%;
  min-height: 80%;
  max-width: 100%;
}

.form-constrains {
  margin: 2% 10%;
  display: flex;
  flex-flow: column wrap;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.text {
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
}

.input {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
  resize: horizontal;
  padding: 12px;
}

textarea {
  height: 80%;
  width: 100%;
  resize: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  opacity: 1;
}

.column-constrains {
  display: flex;
  flex-flow: row wrap;
  padding-top: 19px;
}

.column-content {
  flex: 2;
}
select {
  padding: 12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
  width: 80%;
}

error-output {
  margin-left: 10px;
  font-size: 14px;
  font-style: italic;
  color: red;
}
